<div  *ngIf="showApp" class="fullscreen sitontop" [@pageOpen]="in">
  <div class="titlebar">
    <!--<h3 class="titletext">Featured Apps</h3>-->
    <button (click)="goBack()" class="navClose" title="back"></button>
    <div class="titlebottom"></div>
  </div>
  <div class="page-content noselect">
    <div class="titlearea">
      <img src="{{selected_app?.icon}}" alt="App Icon" class="img-icon-large">
      <p class="title"> {{selected_app?.name}}</p>
      <button class="btn btn-block btn-get" (click)="launchApp()">Launch App</button>
    </div>
    <div class="solid-separator"></div>
    <div class="description-title">Description</div>
    <div class="description-body">{{selected_app?.text}}</div>
  </div>
</div>
<!-- Pop up modal on error -->
<!-- <was-alert-popup [alert_table]="error_message"></was-alert-popup> -->