.sitontop {
    z-index: 100; /* Sit on top */
}
.fullscreen{
    display: block;
    font-size: medium;
    position: fixed; /* Stay in place */
    color: white;
    background-color: white; /* Fallback color */
    top:0;
    /*left:0;*/
    width:100%;
    height:100%;
    overflow: auto; /* Enable scroll if needed */
    z-index: 110; /* Sit on top */
    margin:    0 auto;
}
.page-content {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: white;
}
.img-icon-large {
  display: inline-block;
  position: relative;
  right: 0px;
  top: 0px;
  margin: 5px;
  width: 50%;
  min-width: 76px;
  max-width: 256px;
  z-index: 1;
}
.titlearea {
    color: black;
    display: inline-block;
    width: 100%;
}
.title {
    font-weight: 380;
    font-size: 1.4em;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    /*word-wrap: break-word;*/
    width: -webkit-calc(50% - 30px);
    width:    -moz-calc(50% - 30px);
    width:         calc(50% - 30px);
}
.description-title {
    color: black;
    margin-left: 15px;
    font-weight: 300;
    font-size: 1.3em;
}
.description-body {
    color: rgb(50,50,50);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: 280;
    font-size: 1em;
}
.circle-separator {
    width: 90%;
    height: 1px;
    background-image: -webkit-radial-gradient(circle,hsla(0,0%,100%,.31),hsla(0,0%,100%,0));
    background-image: radial-gradient(circle,hsla(0,0%,100%,.31),hsla(0,0%,100%,0));
    margin: auto;
}
.solid-separator {
	border-top: 4px solid #FF5402;
    box-shadow: 0 -1px 0 0 #FFAF81;
    margin: 15px auto;
    background-color: #f5f5f7;
    width: -webkit-calc(100% - 20px);
    width:    -moz-calc(100% - 20px);
    width:         calc(100% - 20px);
}
.btn-get {
    background-color: black;
    color: white;
    width: 120px;
    position: relative;
    margin-top: -50px;
    margin-left: auto; 
    margin-right:10px;
}