.fullscreen{
    display: block;
    font-size: medium;
    position: fixed; /* Stay in place */
    color: white;
    background-color: white; /* Fallback color */
    top:0;
    width:100%;
    height:100%;
    overflow: auto; /* Enable scroll if needed */
    z-index: 100; /* Sit on top */
    /* margin:    0 auto; */
}
.page-content {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: white;
}