<div *ngIf="open" class="fullscreen" [@pageOpen]="in">
  <div class="was-titlebar">
    <h3 class="was-titletext">{{title}}</h3>
    <button (click)="closeReviews($event)" class="was-navClose" title="back"></button>
    <div class="was-titlebottom"></div>
  </div>
  <div class="page-content noselect">
    <was-spinner [busy]="busy" [message]='"Getting reviews.."'></was-spinner>
    <display-app-review *ngFor="let _review of reviews" [review]="_review"></display-app-review>
  </div>
</div>
<!-- Pop up modal on error -->
<was-alert #wasalert></was-alert>