<div *ngIf="alert_table" class="alert-modal modal" id="alertpopup" [@alertState]="show_state">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="alert_table"
    (@shrinkInOut.start)="animationStarted($event)"
    (@shrinkInOut.done)="animationDone($event)"
    [@shrinkInOut]="show_state">
      <div class="modal-header" [style.background-color]="alert_table?.header_bg" [style.color]="alert_table?.header_color">
        <h5 class="modal-title">{{alert_table.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeMe()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <p>{{alert_table.message}}</p>
        <video *ngIf="show_video" controls class="helpvideo" id="helpvideo">
          <source src="{{alert_table.video}}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <span *ngIf="alert_table.helpmessage" class="helpscreen">
          <span *ngIf="alert_table.helpmessage[0]" class="helpscreen">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">{{alert_table.helpmessage[0][0]}}
                    </a>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">
                    <span *ngIf="alert_table.helpmessage[0][1]" class="helpscreen">
                    {{alert_table.helpmessage[0][1]}}
                    </span>
                    <span *ngIf="alert_table.helpmessage[0][2]" class="helpscreen">
                      <img class="alertimg" src={{alert_table.helpmessage[0][2]}} alt="Description" />
                    </span>
                  </div>
                </div>
              </div>

              <span *ngIf="alert_table.helpmessage[1]" class="helpscreen">
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{alert_table.helpmessage[1][0]}}
                      </a>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                      <span *ngIf="alert_table.helpmessage[1][1]" class="helpscreen">
                      {{alert_table.helpmessage[1][1]}}
                      </span>
                      <span *ngIf="alert_table.helpmessage[1][2]" class="helpscreen">
                        <img class="alertimg" src={{alert_table.helpmessage[1][2]}} alt="Description" />
                      </span>
                    </div>
                  </div>
                </div>
              </span>

              <span *ngIf="alert_table.helpmessage[2]" class="helpscreen">
                <div class="card">
                  <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">{{alert_table.helpmessage[2][0]}}
                      </a>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                      <span *ngIf="alert_table.helpmessage[2][1]" class="helpscreen">
                      {{alert_table.helpmessage[2][1]}}
                      </span>
                      <span *ngIf="alert_table.helpmessage[2][2]" class="helpscreen">
                        <img class="alertimg" src={{alert_table.helpmessage[2][2]}} alt="Description" />
                      </span>
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </span>
        </span>
      </div>
      <div class="modal-footer">
         <!--<button *ngIf="show_test"
        (@buttonWobble.done)="btnanimationDone($event)"
        [@buttonWobble]="button_state"
        type="button" class="btn btn-secondary btn-info" (click)="buttonWobble()" data-dismiss="modal">HI</button> -->
        <button *ngIf="alert_table.button_action" type="button" class="btn btn-secondary btn-info" (click)="onButtonAction()"
        data-dismiss="modal">{{alert_table.button_action}}</button>
        <button *ngIf="alert_table.video" type="button" class="btn btn-secondary btn-info" (click)="openVideo()" data-dismiss="modal">Demo Video</button>
        <button type="button" class="btn btn-secondary {{alert_table?.button_type}}" (click)="closeMe()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
