<!--Show the popover container-->
<div *ngIf="showContainer" class="full-screen-hidden darken">
  <div *ngIf="showMe" class="wasup-container" [@enterLeaveAnim] (@enterLeaveAnim.done)="overlayAnimationDone($event)">
    <div class="wasup-alert">
      <div class="wasup-title">{{alert.title}}</div>
      <div class="wasup-body">
        {{alert.text}}
      </div>
      <div class="wasup-btn-container">
        <button class="was-btn was-btn-danger wasup-btn-half" (click)="cancel()">{{getCancelTitle()}}</button>
        <button *ngIf="alert.btn" class="was-btn was-btn-action wasup-btn-half" (click)="action()">{{alert.btn.title}}</button>
      </div>
    </div>
  </div>
</div>