.wasup-title {
    text-align: center;
    font-size: 1.4em;
    color: #5b5b65;
    /* text-shadow: 0 1px 0 #fff; */
  }
.wasup-body {
    text-align: center;
    font-weight: 300;
    margin-bottom: 15px;
}
.icon-svg-large {
    width: 80px;
    top: 60px;
    margin: auto;
}
.icon-svg {
    width: 40px;
    margin: auto;
    margin-top: -5px;
}
.icon-large-svg {
    width: 50px;
    margin: auto;
    margin-top: -4px;
}
.wasmenu-title {
    text-align: center;
    font-size: 1.0em;
  }
.was-right-button {
    display: block;
    position: fixed;
    width: 60px;
    height: 60px;
    right: 5px;
    top: 5px;
    /* z-index: 99999; */
}
.was-left-button {
    display: block;
    position: fixed;
    width: 60px;
    height: 60px;
    top: 5px;
    left: 5px;
}
.center-block {
    display: block;
    text-align: center;
}
.icon-svg-stars {
    display: inline-block;
    width: 26px;
    margin: auto;
    /*margin-left: 20px;*/
}
.gold-stars {
    color: gold;
}
.gold-star-border {
    color: darkgoldenrod;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .was-fullscreen {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2147483630; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: white;
  }
  .was-titlebar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    display: block;
    width: 100%;
    height: 50px;
    color: white;
    font-size: medium;
    background-color: #FF5402;
    z-index: 89;
    box-shadow: 0 1px 0 0 #d2d2d3;
    /* no select text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
  .was-titlebar .was-titletext {
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    text-shadow: 0 1px 0 #A23300;
    /*vertical-align: middle;*/
    line-height: 50px;       /* the same as your div height */
    /* This dictates the margin above and below the h3 tag, default is 1em and 0 for left/right */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
  .was-titlebar .was-titlebottom {
	border-top: 1px solid #fff;
  box-shadow: 0 -1px 0 0 #d2d2d3;
  width: 100%;
  background-color: #f5f5f7;
}
.results-group {
    margin-top: 50px;
    display: block;
    /*visibility: hidden;*/
    position: relative;
    background-color: rgb(235,240,242);
    /*left: 0;*/
    height: 100%; 
    width: 100%;
    /* Enable scroll if needed */
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .was-footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: #FF5402;
    text-align: center;
    color: white;
    text-shadow: 0 1px 0 #A23300;
    box-shadow: 0 0 1px #A23300;
    font-size: 1em;
    font-weight: 300;
    line-height: 40px;       /* the same as your div height */
    z-index: 17; 
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    /* no select text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  }
  .was-footer .left {
    display: inline-block;
    width: -webkit-calc(33% - 2px);
    width:    -moz-calc(33% - 2px);
    width:         calc(33% - 2px);
  }
  .was-footer .center {
    display: inline-block;
    width: -webkit-calc(33% - 2px);
    width:    -moz-calc(33% - 2px);
    width:         calc(33% - 2px);
  }
  .was-footer .right {
    display: inline-block;
    width: -webkit-calc(33% - 2px);
    width:    -moz-calc(33% - 2px);
    width:         calc(33% - 2px);
  }