.wasup-title {
    text-align: center;
    font-size: 1.4em;
    color: #5b5b65;
    /* text-shadow: 0 1px 0 #fff; */
  }
.wasup-body {
    text-align: center;
    font-weight: 300;
    margin-bottom: 15px;
}
.icon-svg-large {
    width: 80px;
    top: 60px;
    margin: auto;
}
.icon-svg {
    width: 40px;
    margin: auto;
    margin-top: -5px;
}
.icon-large-svg {
    width: 50px;
    margin: auto;
    margin-top: -4px;
}
.wasmenu-title {
    text-align: center;
    font-size: 1.0em;
  }
.was-right-button {
    display: block;
    position: fixed;
    width: 60px;
    height: 60px;
    right: 5px;
    top: 5px;
    /* z-index: 99999; */
}
.was-left-button {
    display: block;
    position: fixed;
    width: 60px;
    height: 60px;
    top: 5px;
    left: 5px;
}
.center-block {
    display: block;
    text-align: center;
}
.icon-svg-stars {
    display: inline-block;
    width: 26px;
    margin: auto;
    /*margin-left: 20px;*/
}
.gold-stars {
    color: gold;
}
.gold-star-border {
    color: darkgoldenrod;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .was-fullscreen {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2147483630; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: white;
  }

.results-group {
    margin-top: 50px;
    display: block;
    /*visibility: hidden;*/
    position: relative;
    background-color: rgb(235,240,242);
    /*left: 0;*/
    height: 100%; 
    width: 100%;
    /* Enable scroll if needed */
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
