<!--Cover the whole screen with login window-->
<!--This makes it modal. Add a close button top left

<!--Generic base popover container-->
<div *ngIf="!hidden" class="icon-container" [@clickButtonTrigger]='clickState' (click)="buttonClick()" (@clickButtonTrigger.done)="buttonClickAnimationDone($event)">
  <div class="icon-svg">
    <svg viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <circle cx="881.3" cy="1200.5" r="34.3" fill="#F3F6F9" stroke="#004A99" stroke-width="5.9" transform="translate(-386.538 -532.71) scale(.45798)"
      />
      <path d="M7.5 25.6c0-4.2 3-7.6 6.7-8.8-1.5-1-2.6-2.6-2.6-4.5C11.6 9.3 14 7 17 7s5.5 2.4 5.5 5.3c0 2-1 3.6-2.6 4.5 3.6 1.2 6.4 4.6 6.4 8.8h-19z"
        fill="#515F81" />
    </svg>
  </div>
  <!--Make the text hide when this opens-->
  <div *ngIf="!showOverlay" class="title-text noselect makewhite">Login</div>
  <!--Show the popover container-->

</div>
<div *ngIf="showOverlay" class="fullscreen-modal" [@overlayAnimationTrigger]='overlayState' (@overlayAnimationTrigger.done)="overlayAnimationDone($event)"
  (click)="catchClick($event)">
  <!-- close button -->
  <button type="button" class="close-style close" data-dismiss="modal" (click)="closeOverlay()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <br>
  <div class="icon-svg-large">
    <svg viewBox="0 0 511 363" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.41">
      <path d="M311.85 243.76c0-3.33-2.7-6.04-6.03-6.04h-91.24c-3.34 0-6.04 2.7-6.04 6.04v12.08c0 3.33 2.7 6.04 6.04 6.04h91.24c3.33 0 6.03-2.7 6.03-6.04v-12.08z"
        fill="#FF601F" />
      <path fill="#FF601F" d="M177.67 323.65L119.2 290.8 230.48 92.74l58.48 32.86z" />
      <path fill="#FF601F" d="M333.25 323.65l58.48-32.85-111.3-198.06-58.46 32.86z" />
      <path fill="#FF601F" d="M230.48 92.7h49.98v23.55h-49.98z" />
      <path d="M100.43 40l79.36.7-45.4 71.03-34-71.73z" fill="#006AEB" />
      <path d="M90.2 181.6l-34.63-71.34L10.9 181l79.3.6z" fill="#007BEB" />
      <path d="M134.75 111.2l-34.23-71.5-45.03 70.68 79.2.82z" fill="#007BEB" />
      <path d="M55.52 110.33l79.27.8-44.6 70.48-34.7-71.2z" fill="#009BEB" />
      <path d="M98.3 323.15l79.38.5-44.32-71.7-35.05 71.2z" fill="#006AEB" />
      <path d="M90.2 181.4l-35.7 70.83-43.6-71.4 79.3.58z" fill="#007BEB" />
      <path d="M133.7 252.48l-35.3 70.98-43.98-71.35 79.27.4z" fill="#007BEB" />
      <path d="M54.46 252.17l79.27.37L90.2 181.4l-35.74 70.77z" fill="#009BEB" />
      <path d="M410.5 40l-79.37.7 45.38 71.03 34-71.72z" fill="#006AEB" />
      <path d="M420.72 181.6l34.63-71.34L500.03 181l-79.3.6z" fill="#007BEB" />
      <path d="M376.17 111.2l34.23-71.5 45.04 70.68-79.27.82z" fill="#007BEB" />
      <path d="M455.4 110.33l-79.27.8 44.6 70.48 34.67-71.2z" fill="#009BEB" />
      <path d="M412.6 323.15l-79.35.5 44.3-71.7 35.06 71.2z" fill="#006AEB" />
      <path d="M420.72 181.4l35.7 70.83 43.6-71.4-79.3.58z" fill="#007BEB" />
      <path d="M377.23 252.48l35.3 70.98 43.97-71.35-79.27.4z" fill="#007BEB" />
      <path d="M456.46 252.17l-79.27.37 43.5-71.13 35.7 70.8z" fill="#009BEB" />
    </svg>
  </div>

  <div class="signon-h1">Single Sign On
    <span class="signon-info-popover">
    <was-popover-base type='info' [isModal]="true" html='<div class="popover-title">WickeyAppStore SSO</div><div class="popover-body">All WickeyAppStore apps utilize our simple, trusted Single Sign On for ease of access. Any app you get from <a href="https://wickeyappstore.com/" target="was">wickeyappstore.com</a> follows our quality guidelines and standards, including SSO.<br><br>Securely access your saved account from any device using your email to get a token or by entering your pin number.</div>'></was-popover-base>
    </span>
  </div>
  <div class="login-group">
    <!-- <div [ngBusy]="{busy: busyEmail, message: 'Emailing your token...'}" class="busy-spinner"></div>
    <div [ngBusy]="{busy: busyToken, message: 'Logging you in...'}" class="busy-spinner"></div> -->
    <div class="login-container">
      <div class="login-innermargin">
        <form [formGroup]="emailForm">
          <div class="emailGroup" [@sendAnimation]='sendEmailState'>
            <div class="vivid-desc">Already have an account? Enter email</div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon bottom-square" id="basic-addon1">@</span>
                <input id="emailInput" type="text" class="form-control bottom-square" formControlName="email" #emailInput placeholder="email"  [(ngModel)]="email_term">
              </div>
              <div *ngIf="formEmailErrors.email" class="alert-danger tab-left">
                {{ formEmailErrors.email }}
              </div>
              <button class="btn btn-primary btn-block top-square" [hidden]="!emailForm.valid" (click)="tokenPerson(emailInput.value);">{{sendButtonText}}</button>
            </div>
          </div>
        </form>
        <form [formGroup]="tokenForm">
          <div class="tokenGroup" *ngIf="showTokenState" [@sendTokenAnimation]='sendTokenState' (@sendTokenAnimation.done)="tokenAnimationDone($event)">
            <div class="vivid-desc">Type the token from your email</div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon bottom-square" id="basic-addon1">@</span>
                <input id="tokenInput" type="text" class="form-control bottom-square" formControlName="token" #tokenInput placeholder="token" [(ngModel)]="token_term">
              </div>
              <div *ngIf="formTokenErrors.token" class="alert-danger tab-left">
                {{ formTokenErrors.token }}
              </div>
              <button class="btn btn-primary btn-block top-square" [hidden]="!tokenForm.valid" (click)="verifyPerson(tokenInput.value);">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--
The launch button should be simple button or text style button That says Login. It will be placed 
in upper right or upper left of onboarding screen.
-->
<!-- Pop up modal on error -->
<was-alert-popup [alert_table]="alert_table" (close)="onAlertClose($event)"></was-alert-popup>
