<button class="sso-button" mat-fab color="" (click)="buttonClick()">
    <div class="icon-svg">
        <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
            stroke-miterlimit="1.41">
            <text x="10.54" y="24.13" font-family="'HelveticaNeue','Helvetica Neue'" font-size="12" transform="matrix(.912 0 0 .912 -5.39 7.38)">SSO</text>
            <path d="M15 8.66a6.1 6.1 0 0 0-6.1 6.1c0 1.13.9 2.04 2.03 2.04h8.14c1.13 0 2.04-.91 2.04-2.03A6.1 6.1 0 0 0 15 8.66z"
                fill="#ff601f" fill-rule="nonzero" />
            <circle cx="12" cy="6" r="6" fill="#ff601f" transform="translate(8.9 .52) scale(.50894)" />
        </svg>
    </div>
</button>