<!--Cover the whole screen with add a review window-->
<div *ngIf="showReview" class="fullscreen-modal" [@overlayAnimationTrigger]='overlayState' (@overlayAnimationTrigger.done)="overlayAnimationDone($event)"
(click)="catchClick($event)">
<!-- <was-spinner [busy]="busyLoad" [message]='"Loading review.."'></was-spinner> -->
<was-spinner [busy]="busySubmit" [message]='"Submitting review.."'></was-spinner>
<!-- close button -->
<button type="button" class="close-style close" data-dismiss="modal" (click)="closeOverlay()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<button type="button" class="send-style close" data-dismiss="modal" (click)="testValidReview()" aria-label="Send"><span aria-hidden="true">Send</span></button>
<div class="center-block bump-down">
  <div class="title-text">Tap a Star to Rate</div>
  <div class="icon-svg-stars" (click)="clickStar(1)">
    <!-- Empty Star -->
    <svg *ngIf="stars<1" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
      <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
      />
    </svg>
    <!-- Full Star -->
    <svg *ngIf="stars>=1" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
    </svg>
  </div>
  <div class="icon-svg-stars" (click)="clickStar(2)">
    <!-- Empty Star -->
    <svg *ngIf="stars<2" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
      <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
      />
    </svg>
    <!-- Full Star -->
    <svg *ngIf="stars>=2" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
    </svg>
  </div>
  <div class="icon-svg-stars" (click)="clickStar(3)">
    <!-- Empty Star -->
    <svg *ngIf="stars<3" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
      <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
      />
    </svg>
    <!-- Full Star -->
    <svg *ngIf="stars>=3" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
    </svg>
  </div>
  <div class="icon-svg-stars" (click)="clickStar(4)">
    <!-- Empty Star -->
    <svg *ngIf="stars<4" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
      <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
      />
    </svg>
    <!-- Full Star -->
    <svg *ngIf="stars>=4" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
    </svg>
  </div>
  <div class="icon-svg-stars" (click)="clickStar(5)">
    <!-- Empty Star -->
    <svg *ngIf="stars<5" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
      <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
      />
    </svg>
    <!-- Full Star -->
    <svg *ngIf="stars>=5" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.4">
      <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
      />
    </svg>
  </div>
  <!-- <span class="signon-info-popover bump-over">
  <ui-popover-base type='info' [isModal]="true" 
                    html='<div class="popover-title">WickeyAppStore Reviews</div><div class="popover-body">Help curate WickeyAppStore apps by leaving honest and helpful reviews.
    <br><br><h2>Everyone benefits:</h2><li>The users (YOU) know which apps are great and you get a sense of what to expect by reading reviews</li><br><li>Developers get feedback so they
    can make improvements and provide the best user experience.</li><br></div>'>
    </ui-popover-base>
  </span> -->
</div>
<div class="login-group">
  <div class="login-container">
    <div class="login-innermargin">
      <div class="emailGroup" [@submitAnimation]='submitState'>
        <div class="input-group">
          <input type="text" maxlength=64 class="form-control" placeholder="Title" aria-describedby="basic-addon1" (keyup.enter)="titleInput.blur()" [(ngModel)]="titleText" #titleInput="ngModel">
        </div>
      </div>
      <div class="tokenGroup" [@submitAnimation]='submitState'>
        <div class="input-group">
          <textarea type="text" rows="10" maxlength=1000 class="form-control highlight-input" placeholder="Review (Optional)" aria-describedby="basic-addon1"
            (keyup.enter)="textArea.blur()" [(ngModel)]="reviewText" #reviewInput="ngModel"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--
The launch button should be simple button or text style button That says Login. It will be placed
in upper right or upper left of onboarding screen.
-->
<!-- Pop up modal on error -->
<was-alert-popup [alert_table]="error_message" (close)="onAlertClose($event)"></was-alert-popup>