<div class="app-fullwidth-item">
    <div class="text-title">{{review.title}}</div> 
    <div class="icon-svg bump-over">
        <!-- Full Star -->
        <svg *ngIf="stars>=1" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
        </svg>
      </div>
      <div class="icon-svg">
        <!-- Empty Star -->
        <svg *ngIf="stars<=1" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
          <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
          />
        </svg>
        <!-- Full Star -->
        <svg *ngIf="stars>=2" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
        </svg>
      </div>
      <div class="icon-svg">
        <!-- Empty Star -->
        <svg *ngIf="stars<=2" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
          <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
          />
        </svg>
        <!-- Full Star -->
        <svg *ngIf="stars>=3" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
        </svg>
      </div>
      <div class="icon-svg">
        <!-- Empty Star -->
        <svg *ngIf="stars<=3" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
          <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
          />
        </svg>
        <!-- Full Star -->
        <svg *ngIf="stars>=4" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
        </svg>
      </div>
      <div class="icon-svg">
        <!-- Empty Star -->
        <svg *ngIf="stars<=4" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
          <path d="M45.8 41.6L62 29H42.2L35.6 9.2 29 29H9.2l16.3 12.6L19 62l16.7-12.6L52.2 62l-6.4-20.4z" fill="#fff" fill-rule="nonzero"
          />
        </svg>
        <!-- Full Star -->
        <svg *ngIf="stars>=5" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
          stroke-miterlimit="1.4">
          <path d="M49.3 43.7l22-17H44.5L35.5 0l-8.8 26.7H0l22 17-8.6 27.6 22.3-17 22.2 17-9-27.6z" fill="#E99700" fill-rule="nonzero"
          />
        </svg>
      </div>
      <span class="text-category">by *Verified User</span>
      <div class="text-text">{{review.text}}</div>  
</div>
<div class="solid-separator-bar"></div>