.app-list-item {
  /*margin: 2px auto 2px auto;*/
  margin-left: 10px;
  margin-right: 10px; 
  display: inline-block;
  width: 76px;
  min-width: 76px;
  height: 100px;
  cursor: hand;
}
.app-list-item {
  display: inline-block;
  position: relative;
  right: 0px;
  top: 0px;
  margin-bottom: 4px;
  width: 96px;
  height: 116px;
  min-width: 60px;
  min-height: 60px;
  z-index: 1;
  border: none;
}
.appthumbnail {
  display: inline-block;
  position: relative;
  right: 0px;
  top: 0px;
  margin-bottom: 4px; 
  width: 76px;
  min-width: 60px;
  min-height: 60px;
  z-index: 1;
  /* border: 1px solid #ddd;
  border-radius: 4px;; */
}

/*http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/*/
/* styles for '...' */ 
.block-with-text {
  font-size: .8em;
  /* hide text if it more than N lines  */
  overflow: hidden;
  height: 40px;
  width: 96px; 
  color: #000000;
}