.app-list-background {
  background-color: white;
  padding: .01rem .25rem;
  margin: 3px auto 3px auto;
  border-radius: 4px;
  width: 100%;
  min-width: 90px;
  z-index: 0;
}
.was-titlebar {
  background-color: white;
  width: 100%;
  height: 20px;
}
.was-titlebar .title {
  color: black;
}
.featuredapps {
  width: 100%;
}