<mat-card class="my-profile-card">
  <mat-card-header>
    <div mat-card-avatar>
      <div *ngIf="inapp.icon;else defaulticon" mat-card-avatar style="background-image: url('https://s3.amazonaws.com/originalapps/icons/logo_coin.png');background-size: cover;"></div>
      <ng-template #defaulticon>
        <mat-icon color="primary" style="font-size:36px;">card_giftcard</mat-icon>
      </ng-template>
    </div>
    <mat-card-title>{{makeTitle()}}</mat-card-title>
    <span class="example-fill-remaining-space"></span>
    <mat-chip-list class="price-sticker">
      <mat-chip color={{priceColor()}} (click)="clickPay()" selected="true">{{priceTag()}}</mat-chip>
    </mat-chip-list>
  </mat-card-header>
  <mat-card-content>
    <p>{{inapp.description}}</p>
  </mat-card-content>
</mat-card>