<div class="menu-container">
    <button class="menu-btn"
            [ngStyle]="menuBtnStyle"
            (mouseenter)="onMouseOverMenu()"
            (mouseleave)="onMouseOutMenu()"
            (tap)="toggleMenu()"
            (panstart)="onPanStart()"
            (panend)="onPanEnd()" [@btnText]="wingsState" (@btnText.done)="animationDone($event)">
        <span class="btn-cross"
              *ngIf="wingsState;else elseBlock">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 version="1.1" id="cross" class="img" x="0px" y="0px"
                 viewBox="0 0 212.982 212.982"
                 style="enable-background:new 0 0 212.982 212.982;"
                 xml:space="preserve"
                 [attr.width]="menuConfig.buttonCrossImgSize"
                 [attr.height]="menuConfig.buttonCrossImgSize">
                <g id="Close">
                    <path style="fill-rule:evenodd;clip-rule:evenodd;" [attr.fill]="menuConfig.buttonFontColor" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312   c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312   l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937   c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
                </g>
            </svg>
        </span>
        <ng-template #elseBlock>
            <!-- <span class="btn-text">Menu</span> -->
            <div class="icon-svg-menu">
                <svg viewBox="0 0 511 363" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
                    stroke-miterlimit="1.41">
                    <path d="M311.85 243.76c0-3.33-2.7-6.04-6.03-6.04h-91.24c-3.34 0-6.04 2.7-6.04 6.04v12.08c0 3.33 2.7 6.04 6.04 6.04h91.24c3.33 0 6.03-2.7 6.03-6.04v-12.08z"
                    fill="#FF601F" />
                    <path fill="#FF601F" d="M177.67 323.65L119.2 290.8 230.48 92.74l58.48 32.86z" />
                    <path fill="#FF601F" d="M333.25 323.65l58.48-32.85-111.3-198.06-58.46 32.86z" />
                    <path fill="#FF601F" d="M230.48 92.7h49.98v23.55h-49.98z" />
                    <path d="M100.43 40l79.36.7-45.4 71.03-34-71.73z" fill="#006AEB" />
                    <path d="M90.2 181.6l-34.63-71.34L10.9 181l79.3.6z" fill="#007BEB" />
                    <path d="M134.75 111.2l-34.23-71.5-45.03 70.68 79.2.82z" fill="#007BEB" />
                    <path d="M55.52 110.33l79.27.8-44.6 70.48-34.7-71.2z" fill="#009BEB" />
                    <path d="M98.3 323.15l79.38.5-44.32-71.7-35.05 71.2z" fill="#006AEB" />
                    <path d="M90.2 181.4l-35.7 70.83-43.6-71.4 79.3.58z" fill="#007BEB" />
                    <path d="M133.7 252.48l-35.3 70.98-43.98-71.35 79.27.4z" fill="#007BEB" />
                    <path d="M54.46 252.17l79.27.37L90.2 181.4l-35.74 70.77z" fill="#009BEB" />
                    <path d="M410.5 40l-79.37.7 45.38 71.03 34-71.72z" fill="#006AEB" />
                    <path d="M420.72 181.6l34.63-71.34L500.03 181l-79.3.6z" fill="#007BEB" />
                    <path d="M376.17 111.2l34.23-71.5 45.04 70.68-79.27.82z" fill="#007BEB" />
                    <path d="M455.4 110.33l-79.27.8 44.6 70.48 34.67-71.2z" fill="#009BEB" />
                    <path d="M412.6 323.15l-79.35.5 44.3-71.7 35.06 71.2z" fill="#006AEB" />
                    <path d="M420.72 181.4l35.7 70.83 43.6-71.4-79.3.58z" fill="#007BEB" />
                    <path d="M377.23 252.48l35.3 70.98 43.97-71.35-79.27.4z" fill="#007BEB" />
                    <path d="M456.46 252.17l-79.27.37 43.5-71.13 35.7 70.8z" fill="#009BEB" />
                </svg>
            </div>
        </ng-template>
    </button>
    <div class="menu-wings"
         [ngStyle]="menuWingsStyle" #menuWings>
        <div class="wing-wrapper" *ngFor="let wing of wings; let i = index">
            <app-menu-wing *ngIf="wingsState"
                           [position]="positionClass"
                           [wing]="wing"
                           [svgPath]="svgPath"
                           [index]="i"
                           (wingSpinning)="toggleSpinningState($event)"
                           (wingClicked)="clickWing($event)" (wingHovered)="hoverWing($event)"></app-menu-wing>
        </div>
    </div>
</div>