:host {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 0px 50%;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
  user-select: none;
  pointer-events: none;
}

.wing {
  width: inherit;
  height: inherit;
  transform-origin: inherit;
}
.wing i {
  text-align: center;
  transform-origin: 50% 50%;
}
.wing-text {
  width: 100%;
}
