.test-div-inner {
    /* Padding Bottom = (Image Height / Image Width) * 100% */ 
    /* http://andyshora.com/css-image-container-padding-hack.html */
    padding-bottom:42%; 
    height:0;
    position:relative;
}

.img-featured {
  display: inline-block;
  position: relative;
     /* width: -webkit-calc(80% - 30px)!important;
    width:    -moz-calc(80% - 30px)!important;
    width:         calc(80% - 30px)!important; 
     margin-left: -webkit-calc(10% + 15px);
    margin-left:    -moz-calc(10% + 15px);
    margin-left:         calc(10% + 15px);  */
    box-shadow: 0 5px 10px rgba(0, 0, 0,.5);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
    height: -webkit-calc(100% - 30px)!important;
    height:    -moz-calc(100% - 30px)!important;
    height:         calc(100% - 30px)!important; 
}

swiper {
    width: 100%; 
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}