<!--Cover the background with dark-->
<!--This makes it modal. Closes with a touch anywhere-->
<div *ngIf="isModal">
    <div *ngIf="showOverlay" class="background-modal" (click)="closeOverlay()"></div>
</div>
<!--Generic base popover container-->
<div class="icon-container" [@clickButtonTrigger]='clickState' (click)="buttonClick()" (@clickButtonTrigger.done)="buttonClickAnimationDone($event)">
    <div class="icon-svg">
        <svg viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
            stroke-miterlimit="1.4">
            <circle cx="881.3" cy="1200.5" r="34.3" fill="#F3F6F9" stroke="#004A99" stroke-width="5.9" transform="translate(-386.538 -532.71) scale(.45798)"
            />
            <path d="M7.5 25.6c0-4.2 3-7.6 6.7-8.8-1.5-1-2.6-2.6-2.6-4.5C11.6 9.3 14 7 17 7s5.5 2.4 5.5 5.3c0 2-1 3.6-2.6 4.5 3.6 1.2 6.4 4.6 6.4 8.8h-19z"
                fill="#515F81" />
        </svg>
    </div>
    <!--Make the text hide when this opens-->
    <div *ngIf="!showOverlay" class="title-text noselect">Account</div>
    <!--Show the popover container-->
    <div *ngIf="showOverlay" class="popover-container info-container-right" [@overlayAnimationTrigger]='overlayState' (@overlayAnimationTrigger.done)="overlayAnimationDone($event)"
        (click)="catchClick($event)">
        <div class="db-FixedPopover-arrow db-arrow-right"></div>
        <div class="db-FixedPopover-contents" [innerHTML]="html"></div>
        <div class="db-MenuHeader" *ngIf="userService.user | async as userobj">
            <span *ngIf="!showEditEmailState">{{getEmailString | async}}
                <span class="Button-link" (click)="editEmailClick()">Edit</span></span>
            <div class="emailGroup" *ngIf="showEditEmailState" [@showEmailEditAnim]='showEditEmailState'>
                <div class="was-input-group">
                    <span class="was-input-group-addon" id="basic-addon1">@</span>
                    <input type="email" class="was-form-control was-highlight-input" placeholder="email" aria-describedby="basic-addon1" (keyup.enter)="updateEmail(emailInput.value); emailInput.blur()"
                        #emailInput value="{{userobj.email}}">
                </div>
                <button class="btn btn-primary btn-block" type="button" (click)="updateEmail(emailInput.value);">{{getSaveEmailButtonText | async}}</button>
            </div>
            <span class="db-MenuHeader-description d-flex justify-content-between"><span>{{accountAge | async}}</span>v{{version}}</span>
        </div>
        <div (click)="signoutfunc()" label="Sign Out" class="db-MenuItem">{{getSignoutButtonText | async}}</div>

    </div>
</div>
<!-- Pop up modal on error -->
<was-alert #wasalert></was-alert>
