<div class="app-fullwidth-item">
  <div class="thumbnail-display-group" (click)="showApp_Detail()">
    <img src="{{store_app?.icon}}" alt="App Icon" class="appthumbnail">
  </div>
  <div class="text-display-block" (click)="showApp_Detail()">
     <div class="text-title">{{store_app?.name}}</div> 
     <div class="text-category">{{store_app.category | getCategory}}</div> 
  </div>
  <div class="get-display-block">
     <a class="was-btn btn-get" href={{store_app?.app_url}} target={{store_app?.slug}}>GET</a>  
       <div *ngIf="hasInapps" class="text-app-msg">In-App Purchases</div>  
  </div>
  <div class="solid-separator-bar"></div>
</div>