/* You can add global styles to this file, and also import other style files */
/*html {
  touch-action: manipulation;
}*/
h1 {
  color: #369;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 150%;
  /*font-weight: 500;*/
}
body {
  /* margin: 0em; /* change to 0 after menu btn on main screen */
  margin: auto;
  font-size:100%;
  min-width: 300px;
}
p {
  font-size: 0.875em; /* If the baseline is 16px, this will scale the font to 14px */
  line-height: 1em;  /* This keeps the line height proportional to the font size */
}
body, input[text], button {
  color: #888;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* Don't allow text selection in buttons:
http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css?page=1&tab=votes#tab-top
https://www.w3schools.com/cssref/css3_pr_user-select.asp
Added iOS Safari http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css*/
button {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*<p>
  Selectable text.
</p>
<p class="noselect">
  Unselectable text.
</p>*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
input {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
/*...*/
/* everything else */
* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.was-fullscreen {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2147483630; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
}

.was-navClose {
    width: 36px;
    height: 36px;
    background-image: url(https://i.imgur.com/5cznqbh.png);
    background-size: 30px;
    background-position: 3px 3px;
    left: 6px;
    top: 6px;
    position: absolute;
    color: #e8e9eb;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}

.was-titlebar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  display: block;
  width: 100%;
  height: 50px;
  color: white;
  font-size: medium;
  background-color: #FF5402;
  z-index: 17; 
  /* no select text */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.was-titlebar .was-titlebottom {
	  border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 0 #d2d2d3;
    width: 100%;
    background-color: #f5f5f7;
}
.was-titlebar .was-titletext {
  display: inline-block;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 0 1px 0 #A23300;
  /*vertical-align: middle;*/
  line-height: 50px;       /* the same as your div height */
  /* This dictates the margin above and below the h3 tag, default is 1em and 0 for left/right */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.was-footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: #FF5402;
    text-align: center;
    color: white;
    text-shadow: 0 1px 0 #A23300;
    box-shadow: 0 0 1px #A23300;
    font-size: 1em;
    font-weight: 300;
    line-height: 40px;       /* the same as your div height */
    z-index: 17; 
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    /* no select text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.was-footer .left {
  display: inline-block;
  width: -webkit-calc(33% - 2px);
  width:    -moz-calc(33% - 2px);
  width:         calc(33% - 2px);
}
.was-footer .center {
  display: inline-block;
  width: -webkit-calc(33% - 2px);
  width:    -moz-calc(33% - 2px);
  width:         calc(33% - 2px);
}
.was-footer .right {
  display: inline-block;
  width: -webkit-calc(33% - 2px);
  width:    -moz-calc(33% - 2px);
  width:         calc(33% - 2px);
}

/* The pop-over classes */
.popover-title {
  padding: 8px 5px;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  color: #5b5b65;
  text-shadow: 0 1px 0 #fff;
  width: 280px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-right-radius: calc(.3rem - 1px);
  border-top-left-radius: calc(.3rem - 1px);
}
.popover-body {
  text-align: left;
  font-size: 1.0em;
  font-weight: 300;
  color: black;
  margin: .4em;
  line-height: 110%;
}

/* angular2-busy */
.busy-spinner {
  position: relative;
}

/* Some global styles that were formally bootstrap css */
.was-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-decoration: none;
  
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.was-btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.was-btn-block {
  display: block;
  width: 100%;
}
.was-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.was-btn-action {
  color: #fff;
  background-color: #1BA923;
  border-color: #1BA923;
}
.was-btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}
.was-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
[hidden] {
  display: none!important;
}

.was-alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.was-input-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.was-input-group .was-form-control, .was-input-group-addon, .was-input-group-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.was-input-group .was-form-control {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.was-form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.was-hightlight-input {
  border: 1px solid rgba(87, 170, 240, 0.78);
}

.was-loading {
  background: transparent url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAiIGhlaWdodD0iOTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiBjbGFzcz0ibGRzLWVjbGlwc2UiIHN0eWxlPSJhbmltYXRpb24tcGxheS1zdGF0ZTpwYXVzZWQ7YW5pbWF0aW9uLWRlbGF5Oi0xcztiYWNrZ3JvdW5kOm5vbmUiPjxwYXRoIGQ9Ik04OS43IDU2LjJBNDAgNDAgMCAwIDAgMTAgNDcuOGE0MCA0MiA2IDAgMSA3OS43IDguNCIgZmlsbD0iIzFhYWZkMCIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOnBhdXNlZDthbmltYXRpb24tZGVsYXk6LTFzIj48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgY2FsY01vZGU9ImxpbmVhciIgdmFsdWVzPSIwIDUwIDUxOzM2MCA1MCA1MSIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49IjBzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvcGF0aD48L3N2Zz4=") no-repeat scroll center center;
}

.was-input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #464a4c;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;

  white-space: nowrap;
  vertical-align: middle;
}

.was-input-group-addon:not(:last-child) {
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.was-form-control:not(:first-child), .was-input-group-addon:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
