/* You can add global styles to this file, and also import other style files */
/*html {
  touch-action: manipulation;
}*/
p {
  font-size: 0.875em; /* If the baseline is 16px, this will scale the font to 14px */
  line-height: 1em;  /* This keeps the line height proportional to the font size */
}
input[text], button {
  color: #888;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* Don't allow text selection in buttons:
http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css?page=1&tab=votes#tab-top
https://www.w3schools.com/cssref/css3_pr_user-select.asp
Added iOS Safari http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css*/
button {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*<p>
  Selectable text.
</p>
<p class="noselect">
  Unselectable text.
</p>*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*...*/
/* everything else */
* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.was-fullscreen {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2147483640; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
}

.was-navClose {
    width: 36px;
    height: 36px;
    background-image: url(https://i.imgur.com/5cznqbh.png);
    background-size: 30px;
    background-position: 3px 3px;
    left: 6px;
    top: 6px;
    position: absolute;
    color: #e8e9eb;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}

.was-titlebar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  display: block;
  width: 100%;
  height: 50px;
  color: white;
  font-size: medium;
  background-color: #FF5402;
  z-index: 17; /* Sit on top */
  /*no select text/*
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.was-titlebar .was-titlebottom {
	  border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 0 #d2d2d3;
    width: 100%;
    background-color: #f5f5f7;
}
.was-titlebar .was-titletext {
  display: inline-block;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 0 1px 0 #A23300;
  /*vertical-align: middle;*/
  line-height: 50px;       /* the same as your div height */
  /* This dictates the margin above and below the h3 tag, default is 1em and 0 for left/right */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.was-footer {    
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: #FF5402;
    text-align: center;
    color: white;
    text-shadow: 0 1px 0 #A23300;
    box-shadow: 0 0 1px #A23300;
    font-size: 1em;
    font-weight: 300;
    line-height: 40px;       /* the same as your div height */
    z-index: 17; /* Sit on top */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
      /*no select text/*
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.was-footer .left {
  display: inline-block;
  width: -webkit-calc(33% - 2px);
  width:    -moz-calc(33% - 2px);
  width:         calc(33% - 2px);
}
.was-footer .center {
  display: inline-block;
  width: -webkit-calc(33% - 2px);
  width:    -moz-calc(33% - 2px);
  width:         calc(33% - 2px);
}
.was-footer .right {
  display: inline-block;
  width: -webkit-calc(33% - 2px);
  width:    -moz-calc(33% - 2px);
  width:         calc(33% - 2px);
}

/* The pop-over classes */
.popover-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  color: #5b5b65;
  text-shadow: 0 1px 0 #fff;
  width: 280px;
  padding-left: 5px;
  padding-right: 5px;
}
.popover-body {
  text-align: left;
  font-size: 1.0em;
  font-weight: 300;
  color: black;
  margin: .4em;
  line-height: 110%;
}
