<!--Generic base popover container-->
<was-popover-review [showReview]="writeAReview" (close)="closeReviewScreen()"></was-popover-review>
<app-menu-container [options]="WAS_options" [gutter]="WAS_gutter" [startAngles]="WAS_startAngles" [wings]="WAS_wings" (onMenuBtnClicked)="WASMenuClick($event)" (onWingSelected)="WASWingClick($event)"></app-menu-container>

<!--Show the WickeyAppStore container-->
<div *ngIf="showOverlay" class="was-fullscreen" [@overlayAnimationTrigger]='overlayState' (@overlayAnimationTrigger.done)="overlayAnimationDone($event)"
  (click)="catchClick($event)">
  <div class="was-titlebar">
    <h3 class="was-titletext">Featured Apps</h3>
    <button *ngIf="showCloseBtn" (click)="closeMe()" class="was-navClose" title="back"></button>
    <div class="was-titlebottom"></div>
  </div>
  <div class="results-group">
    <was-spinner [busy]="busy" [message]='"Refreshing app store.."'></was-spinner>
    <display-apps featured=true [apps]="getBannerFeaturedApps()" [showAppEmitter]="showAppDetail"></display-apps>
    <display-apps [apps]="getFeaturedApps()" [showAppEmitter]="showAppDetail"></display-apps>
    <br><br>
  </div>
  <div class="was-footer">
    <div class="left">
      <a href="https://wickeyappstore.com/assets/tos.html" target="WAS_Policies">Terms</a>
    </div>
    <div class="center">
      <a href="https://wickeyappstore.com/assets/refunds.html" target="WAS_Policies">Refunds</a>
    </div>
    <div class="right">
      <a href="https://wickeyappstore.com/assets/privacy.html" target="WAS_Policies">Privacy</a>
    </div>
  </div>
  <was-alert-popup (close)="onAlertClose($event)" [alert_table]="error_message"></was-alert-popup>
</div>
