.app-list {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

@media screen and (min-width: 560px) {
  .app-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  .app-list-item {
    width: 280px;
    cursor: pointer;
  }
  .app-list-item:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
}
@media screen and (min-width: 842px) {
  .app-list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}
@media screen and (min-width: 1128px) {
  .app-list {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
  }
}

.results-group {
  margin-top: 50px;
  display: block;
  /*visibility: hidden;*/
  position: relative;
  background-color: rgb(235,240,242);
  /*left: 0;*/
  height: 100%; 
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
